@import url("./avatar.css");
@import url("./buttons.css");
@import url("./forms.css");

.new-post-link a {
  color: #5c6bc0;
}

.new-post-link a:hover {
  color: #3949ab;
  text-decoration: none;
}

.new-post-link a:visited {
  color: #5c6bc0;
}

.title {
  color: #5c6bc0;
  font-weight: bold;
  text-align: center;
}
