{{#if messages.success}}
  <ul class="messages">
    {{#each messages.success}}
      <p class="message">{{this}}</p>
    {{/each}}
  </ul>
{{/if}}

<h1 class="title">{{title}}</h1>
<p style="text-align: center;">Welcome to {{title}}</p>