<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <title>{{title}}</title>
</head>

<body>
  <section>
    <div class="nav-bar">
      <div class="logo">
        <a href="#">
          <img src="/images/acebook.png" alt="people connecting image" class="logo">
        </a>
      </div>
      <div class="menu-bar">
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/sessions/new" class="login">Log In</a></li>
        </ul>
      </div>
    </div>
  </section>
  {{!-- {{Connecting Aces Worldwide, Acebook!}} --}}
  <section class="home" id="home ">
        <div class="content">
            <!-- Tagline -->
            <h3 class="mainfont">
                Connecting <span class="yellowColor"> Aces </span>Worldwide
            </h3>
            <h3>
                Ace<span class="yellowColor">book</span>!
                {{!-- <span class="yellowColor">book!</span> --}}
            </h3>
            <!--Description  -->
            {{!-- <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusamus tempore temporibus rem amet laudantium animi optio voluptatum. Natus obcaecati unde porro nostrum ipsam itaque impedit incidunt rem quisquam eos!
            </p> --}}

            <!-- CTA -->
            <a href="# " class="btn">Socialize Like an Ace, Acebook!</a>
        </div>
        <!-- Hero image -->

        <div class="image">
            <img src="/images/elevate.png" alt=" " />
        </div>
    </section>

</body>

</html>
